:root {
    // Обёртка контента
    --wrapper-gap: #{rem(40)};
    --wrapper-width: #{rem(1240)};

    // Размеры шрифтов
    --h1-fs: #{rem(104)};
    --h2-fs: #{rem(44)};
    --h3-fs: #{rem(36)};
    --text-fs: #{rem(18)};
    --small-text-fs: #{rem(14)};

    // Анимации
    --delay: 0s;
    --speed: 3.5s;

    // Цвета
    --black-color: #282524;
    --gray-color: #9f928d;
    --light-gray-color: #dfdcd3;
    --dark-purple-color: #7b1662;
    --purple-color: #bb128c;
    --brown-color: #874943;
    --orange-color: #d2521b;
    --light-orange-color: #ffad32;
    --latte-color: #e0b588;
    --beige-color: #cbb196;

    // Переменные-хелперы
    --header-top-shift: #{rem(64)};
    --header-content-height: calc(#{rem(18)} * 1.2);
    --from-header-top-shift: calc(
        var(--header-top-shift) + var(--header-content-height)
    );

    @include media("md") {
        --h1-fs: #{rem(80)};
        --h2-fs: #{rem(36)};
        --h3-fs: #{rem(24)};
        --text-fs: #{rem(16)};
    }

    @include media("sm") {
        --wrapper-gap: #{rem(16)};
        --h1-fs: #{rem(52)};
        --h2-fs: #{rem(22)};
        --h3-fs: #{rem(18)};

        --header-content-height: #{rem(18)};
        --header-top-shift: #{rem(36)};
    }
}
