.header {
    position: absolute;
    top: var(--header-top-shift);
    left: 0;
    right: 0;
    z-index: 10;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    @include media("sm") {
        &__nav {
            overflow-y: auto;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            @include inset;
            background-color: var(--black-color);
            padding: rem(56) rem(59);
            transform: translateX(100%);
            transition: transform 0.3s linear;
            gap: 0;
            &.active {
                transform: translateX(0);
            }

            li {
                width: rem(170);
            }
        }

        &__wrapper {
            display: flex;
            justify-content: flex-end;
        }

        &__burger {
            line-height: 1;
        }

        &__nav-title {
            font-family: "WonderNight", serif;
            font-size: rem(44);
            word-spacing: rem(1000);
            margin-bottom: rem(76);
            color: var(--light-orange-color);
            text-align: center;
        }

        &__nav-item {
            text-decoration: underline;
            & + & {
                margin-top: rem(28);
            }
        }

        &__nav-vr-link {
            padding-top: rem(20);
            margin-top: auto;
            text-align: center;
        }

        &__cross {
            position: absolute;
            left: rem(20);
            top: rem(24);
        }
    }
}
