.promo {
    position: relative;

    &__cauldron {
        position: absolute;
        @include inset;
        background-image: url(./../images/cauldron.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: clamp(rem(930), 100vh, rem(1024));

        padding-top: var(--from-header-top-shift);
        padding-bottom: calc(var(--from-header-top-shift) * 2);
    }

    &__subtitle {
        font-size: rem(32);
        margin-bottom: rem(16);
        line-height: 1.2;
        color: var(--light-orange-color);
    }

    &__title {
        letter-spacing: 0.04em;
        color: var(--light-orange-color);
        transition: text-shadow 0.5s ease;
        text-shadow: 2px -3px 15px var(--dark-purple-color);
        line-height: 1.1;
        margin-bottom: rem(24);
        &.reached {
            text-shadow: 2px -3px 0px var(--dark-purple-color);
        }
    }

    &__text {
        max-width: rem(580);
        margin-inline: auto;
        margin-bottom: rem(56);
    }

    &__hi-label {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: rem(40);
        right: var(--wrapper-gap);
    }

    @include media("md") {
        &__content {
            padding-top: calc(var(--from-header-top-shift) + #{rem(72)});
            align-items: flex-start;
        }

        &__subtitle {
            font-size: rem(24);
        }

        &__title {
            word-spacing: rem(1000);
            line-height: 1.1;
            margin-bottom: rem(12);
        }

        &__text {
            margin-bottom: rem(42);
        }
    }

    @include media("sm") {
        &__title {
            &.reached {
                text-shadow: 1px -2px 0px var(--dark-purple-color);
            }
        }
        &__content {
            padding-top: calc(var(--from-header-top-shift) + #{rem(46)});
            min-height: calc(100vh + 140px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-inline: auto;
            max-width: rem(470);
        }

        &__content-text {
            display: contents;
        }

        &__subtitle {
            font-size: rem(18);
            color: #fff;
        }
        &__cauldron {
            background: none;
            svg {
                margin: auto;
                display: block;
                max-width: rem(500);
                width: 100%;
            }
        }
        &__hi-label {
            bottom: rem(80);
        }
        &__text {
            opacity: 0;
            position: absolute;
            margin-inline: auto;
            left: 0;
            right: 0;
            font-size: rem(14);
            line-height: 1.4;
            margin-bottom: 0;

            &--visible {
                opacity: 1;
            }
        }
    }
}
