.recipe-page {
    --content-gap: #{rem(40)};

    &__content {
        padding-top: calc(var(--from-header-top-shift) + #{rem(60)});
        padding-bottom: rem(160);
    }

    &__arrow {
        margin-bottom: rem(80);
    }

    &__image-container {
        height: 0;
        padding-top: 87.1%;
        position: relative;
    }

    &__image {
        box-shadow: 6px 4px 12px rgba(210, 82, 27, 0.7);
        border-radius: rem(20);
        position: absolute;
        @include inset;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__main-info {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 1fr;
        gap: var(--content-gap);
        margin-bottom: rem(80);
    }

    &__title {
        margin-bottom: rem(16);
        color: var(--light-orange-color);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        line-height: 1.25;
        font-family: "Merriweather";
    }

    &__author {
        font-size: rem(20);
        margin-bottom: rem(12);

        a {
            text-decoration: underline;
            text-underline-offset: rem(3);
            &[href=""] {
                pointer-events: none;
                text-decoration: none;
            }
        }
    }

    &__year {
        margin-bottom: rem(32);
        font-size: rem(14);
        color: rgba(223, 220, 211, 0.7);
    }

    &__description {
        margin-bottom: rem(56);
        &:empty {
            padding-bottom: rem(24);
            margin-bottom: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--content-gap);
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: rem(32);
    }

    @include media("md") {
        &__arrow {
            margin-bottom: rem(36);
        }

        &__year {
            margin-bottom: rem(16);
        }

        &__description {
            margin-bottom: rem(48);
            &:empty {
                padding-bottom: rem(32);
                margin-bottom: 0;
            }
        }
    }

    @include media("sm") {
        &__arrow {
            top: var(--header-top-shift);
            position: absolute;
            font-size: rem(14);
            z-index: 100;
            a {
                height: var(--header-content-height);
            }
            img {
                height: rem(22);
            }
        }
        &__content {
            padding-bottom: rem(80);
        }

        &__title {
            order: -1;
            margin-bottom: rem(28);
        }

        &__main-info {
            grid-template-columns: 1fr;
            gap: 0;
        }

        &__image-container {
            margin-bottom: rem(16);
        }

        &__author {
            margin-bottom: rem(4);
            font-size: var(--text-fs);
        }

        &__year {
            margin-bottom: rem(28);
        }

        &__description {
            margin-bottom: rem(36);
        }

        &__button {
            max-width: none;
        }

        &__details {
            grid-template-columns: 1fr;
            grid-gap: rem(44);
        }

        &__info {
            display: contents;
            & > * {
                display: contents;
            }
        }

        &__image-container {
            height: 0;
            padding-top: 100%;
            position: relative;
        }

        &__image {
            box-shadow: none;
            border-radius: rem(10);
        }
    }
}
