.sponsor {
    padding-block: rem(160);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    &__text {
        flex-basis: calc(100% / 12 * 5);
        p + p {
            margin-top: 1em;
        }
    }

    &__products {
        flex-basis: calc(50% - 20px);
    }

    @include media("md") {
        padding-block: rem(140);
    }

    @include media("sm") {
        padding-block: rem(80);
        &__content {
            flex-direction: column;
            gap: rem(48);
        }
        &__products {
            max-width: rem(500);
        }
    }
}
