.terms {
    padding-bottom: rem(160);

    &__header {
        text-align: center;
        margin-bottom: rem(70);
    }

    &__desc {
        margin-bottom: rem(8);
    }

    &__title {
        margin-bottom: rem(32);
        text-shadow: 3px 3px 0px var(--dark-purple-color);
    }

    &__button {
        margin-inline: auto;
        margin-top: rem(48);
        display: block;
        text-align: center;
    }

    @include media("md") {
        padding-bottom: rem(144);
    }

    @include media("sm") {
        padding-bottom: rem(80);
        &__header {
            margin-bottom: rem(20);
        }

        &__spoon {
            margin-bottom: rem(36);
            display: block;
            margin-inline: auto;
        }

        &__title {
            text-shadow: 2px 1px 0px var(--dark-purple-color);
        }
    }
}
