mixin back-arrow(url = '/')
  a(href=url title="Вернуться назад").back-arrow
    span.hide-for-sm
      include ./../../../images/arr-left.svg
    span.show-for-sm
      include ./../../../images/arr-left-2.svg
    | Назад
