.button {
    font-size: var(--text-fs);
    font-weight: bold;
    padding: rem(19);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    background-color: var(--orange-color);
    text-transform: uppercase;
    border-radius: rem(28);
    box-shadow: rem(4) rem(4) rem(4) rgba(40, 37, 36, 0.4);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    max-width: rem(387);
    width: 100%;

    &[href=""],
    &--disabled {
        background: var(--gray-color);
        pointer-events: none;
    }

    &--hollow {
        border: rem(3) solid var(--orange-color);
        padding-block: rem(16);
        background-color: transparent;
        box-shadow: 3px 3px 4px rgba(224, 181, 136, 0.4);
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px rem(16) rem(4) var(--light-orange-color);
        }
    }

    &:active {
        box-shadow: none;
        background-color: #bb4411;
    }

    @include media("sm") {
        padding-block: rem(13.5);
        max-width: rem(225);
        font-size: rem(14);
        &--hollow {
            padding-block: rem(10.5);
            border-width: rem(2);
            box-shadow: 2px 2px 4px rgba(224, 181, 136, 0.4);
        }
    }
}
