.place {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    color: var(--latte-color);
    padding-inline: rem(17.5);
    &__sum {
        padding: rem(8) rem(16);
        color: var(--dark-purple-color);
        font-weight: bold;
        font-size: rem(32);
        background-color: var(--latte-color);
        border-radius: rem(100);
    }

    @include media("md") {
        padding-inline: rem(12.5);
        img {
            width: rem(106);
        }
        &__sum {
            font-size: rem(24);
        }
    }

    @include media("sm") {
        gap: rem(6);
        font-size: rem(12);
        &__sum {
            font-size: rem(16);
            padding: rem(4) rem(12);
        }
        img {
            width: rem(80);
        }
    }
}
