include components/blocks/_place
include components/blocks/_hi-label
include components/blocks/_receipt

doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    main
      include components/common/_header
      include components/common/_promo
      include components/common/_prizes
      include components/common/_sponsor
      include components/common/_recipies
      include components/common/_terms
      include components/common/_footer
