include components/blocks/_back-arrow

doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    main
      include components/common/_header
      .wrapper
        .past-competition
          .past-competition__arrow
            +back-arrow
      include components/common/_footer
