include components/blocks/_back-arrow

doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    main
      include components/common/_header
      include components/common/_footer
