include components/blocks/_back-arrow

doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    main.receipt-page
      include components/common/_header
      .wrapper.receipt-page__content
        .receipt-page__arrow
          +back-arrow
        .receipt-page__receipt#receipt.hidden
          .receipt-page__main-info
            .receipt-page__image-container
              img(src="", alt="")#receipt-image.receipt-page__image
            .receipt-page__info
              div
                h2#receipt-title.receipt-page__title
                p.receipt-page__author
                  | Автор_ка рецепта:&nbsp;
                  span#receipt-author
                p.receipt-page__year 2022
                a(href="#").button.receipt-page__button Проголосовать
              img(src="./images/spoon-receipt.svg", alt="" aria-hidden="true").receipt-page___spoon
          .receipt-page__details
            div
              h3.receipt-page__subtitle Ингредиенты
              ul#receipt-ingredients.list.list--unordered
            div
              h3.receipt-page__subtitle Инструкции
              ol#receipt-steps.list.list--ordered
        h2#receipt-not-found.hidden Рецепт не найден
        include components/common/_preview
      include components/common/_footer
