footer.footer
  .wrapper
    a(href="https://veganrussian.ru/" target="_blank").footer__logo: img(src="./images/vr-logo.webp", alt="Логотип Веган Рашн")

    .footer__content
      nav.footer__nav
        a(href="/").footer__nav-link.underline Главная
        a(href="#").footer__nav-link.underline Призы
        a(href="#").footer__nav-link.underline Голосование
        a(href="#").footer__nav-link.underline Участвовать
        a(href="#").footer__nav-link.underline Все рецепты
      div
        h4.footer__subtitle Над сайтом работали
        p.footer__participant Разработка: <a href="https://t.me/lefhl" target="_blank">Эдик Гизбрехт</a>
        p.footer__participant Дизайн: <a href="https://www.behance.net/4d7f8a1e" target="_blank">Юлия Скворцова</a>
        p.footer__participant Иллюстратор: <a href="https://vk.com/enchinahata" target="_blank">Энчи</a>
        p.footer__participant Менеджерка проекта: <a href="https://www.linkedin.com/in/marina-o-borisova" target="_blank">Марина Ястремская</a>
      .footer__cow
        picture
          source(srcset='./images/hat.webp' media='(max-width: 1024px)')
          img(src="./images/cow.svg", alt="")
