header.header
  nav.header__wrapper.wrapper
    ul.header__nav#mobile-menu
      li.header__cross.show-for-sm: button#menu-closer(aria-label="Закрыть меню"): img(src="./images/cross.svg", alt="Крестик")
      li.show-for-sm.header__nav-title Vegan Halloween 2022
      li.header__nav-item: <a href="/" class="underline">Главная</a>
      li.header__nav-item: <a href="#prizes" class="underline">Призы</a>
      li.header__nav-item: <a href="https://forms.yandex.ru/cloud/635a38f643f74f05259e4acb/" target="_blank" class="underline">Голосовать</a>
      li.header__nav-item: <a href="#recipes" class="underline">Рецепты</a>
      li.header__nav-vr-link.show-for-sm
        a(href="https://veganrussian.ru/" title="Перейти на сайт веганрашн")
          img(src="./images/vr-logo.svg", alt="Логотип Веган Рашн" target="_blank")
    button.header__burger.show-for-sm#burger-trigger
      img(src="./images/burger.svg", alt="")
