header.header
  nav.wrapper
    ul.header__nav
      li: <a href="/" class="underline">Главная</a>
      li: <a href="#" class="underline">Призы</a>
      li: <a href="#" class="underline">Голосование</a>
      li: <a href="#" class="underline">Участвовать</a>
      li: <a href="#" class="underline">Все рецепты</a>
