section.prizes#prizes
  .wrapper.prizes__wrapper
    h2.prizes__title Призы за&nbsp;лучшие&nbsp;рецепты
    p.prizes__desc
      span Ограничения:
      | призы можно получить только на карту российского банка.
    .prizes__places
      +place(1)
      +place(2)
      +place(3)
    .prizes__cow
      img(src="./images/cow.webp", alt="" width="248")

