section.promo.wrapper
  .promo__content
    div.promo__content-text
      div
        .promo__subtitle Ежегодный кулинарный конкурс
        h1.promo__title.observed Vegan Halloween 2022
        a(href="#").button.show-for-md Перейти к рецептам

        p.promo__text Веганские рецепты на&nbsp;тему Хэллоуин и&nbsp;голосование за&nbsp;лучший рецепт. Впервые проведён на&nbsp;страничке Vegan Russian в&nbsp;одной запрещённой соцсети. Создаём хэллоуинское настроение с&nbsp;2020го!
      a(href="#").button.hide-for-md Перейти к рецептам
  .promo__cauldron
    +hi-label.promo__hi-label
    span
      //- include ../../../images/cauldron.svg
    //- .hide-for-md
    span.show-for-sm
      include ../../../images/cauldron-sm.svg
