section.recipes
  .wrapper
    header.recipes__header
      h2.recipes__title Рецепты-конкурсанты
      p.recipes__desc Голосование стартует 28го октября&nbsp;2022 в&nbsp;12:00,
        br
        | а&nbsp;пока можно изучить рецепты и&nbsp;попробовать их приготовить.
        br
        | Ниже вы узнаете, как податься на&nbsp;участие.

    .recipes__items#recipe-items
