section.recipies
  .wrapper
    header.recipies__header
      h2.recipies__title Рецепты-конкурсанты
      p.recipies__desc Голосование стартует 28го октября&nbsp;2022 в&nbsp;12:00,
        br
        | а&nbsp;пока можно изучить рецепты и&nbsp;попробовать их приготовить.
        br
        | Ниже вы узнаете, как податься на&nbsp;участие.

    .recipies__items#receipt-items
