section.recipes#recipes
  .wrapper
    header.recipes__header
      h2.recipes__title Рецепты-конкурсанты
      p.recipes__desc Голосование длится всего 3 дня до&nbsp;31го&nbsp;октября 2022&nbsp;12:00! Успей отдать голос за&nbsp;понравившийся рецепт! Можно голосовать только один раз и&nbsp;лишь&nbsp;за один рецепт.

    .recipes__items#recipe-items

    a(href="/past-competition.html").button.button--hollow.recipes__link Рецепты прошлых лет
