section.recipes#recipes
  .wrapper
    header.recipes__header
      h2.recipes__title Рецепты–конкурсанты
      p.recipes__desc Голосование стартует 28.10.2022 в&nbsp;12:00,
        br
        | а&nbsp;пока можно изучить рецепты и&nbsp;попробовать их приготовить.
        br
        | Ниже вы узнаете, как податься на&nbsp;участие.

    .recipes__items#recipe-items

    a(href="/past-competition.html").button.button--hollow.recipes__link Рецепты прошлых лет
