section.sponsor
  .wrapper
    .sponsor__content
      .sponsor__text
        p Наши спонсоры — производители растительных альтернатив Hi. Они создают привычные продукты, но&nbsp;без использования животных. Это еда будущего для тех, кого заботят животные, планета и собственное здоровье.
        p Растительное сырье, чистота состава, польза витаминов, экологичное производство, осознанное потребление — это новый взгляд на мир, который предлагает Hi.
      .sponsor__products
        img(src="./images/hi-products.webp", alt="Товары бренда Hi")

