section.sponsor
  .wrapper
    .sponsor__content
      .sponsor__text
<<<<<<< HEAD
        p Наши спонсоры — производители растительных альтернатив Hi. Они создают привычные продукты, но&nbsp;без использования животных. Это еда будущего для тех, кого заботят животные, планета и собственное здоровье.
        p Растительное сырье, чистота состава, польза витаминов, экологичное производство, осознанное потребление — это новый взгляд на мир, который предлагает Hi.
=======
        p Наши спонсоры — производители растительных альтернатив Hi. Они создают привычные продукты, но&nbsp;без&nbsp; использования животных. Это еда будущего для&nbsp;тех&nbsp;, кого заботят животные, планета и собственное здоровье.
        p Растительное сырье, чистота состава, польза витаминов, экологичное производство, осознанное потребление — это новый взгляд на&nbsp;мир, который предлагает Hi.
>>>>>>> 806c8c17a92c9c3c6e8c7b8a00e4014bfdf40d19
      .sponsor__products
        img(src="./images/hi-products.webp", alt="Товары бренда Hi")

