section.terms
  .wrapper
    header.terms__header
      h2.terms__title Условия участия
      p.terms__desc Участвовать в конкурсе могут все желающие!
      p Приём работ закроется 27 октября 2022 в 00:00.
        br
        |Можно присылать больше одного рецепта! :)
    article.scroll
      h2.scroll__title Требования
        br
        |к рецепту
      p.scroll__rule 1. Он должен быть веганским
      p.scroll__rule 2. Он должен быть в тематике Хэллоуин (см. работы прошлого года)
      //- img(src="./images/rotated-spoon.webp", alt="" aria-hidden="true").scroll__spoon
    a(href="#").button.terms__button Прислать рецепт

