section.terms
  .wrapper
    header.terms__header
      h2.terms__title Условия участия
      p.terms__desc Участвовать в конкурсе могут все желающие.
      p Приём работ закроется
        br.show-for-sm
        |&nbsp;27&nbsp;октября 2022 в&nbsp;00:00.
        br
        |Можно присылать больше одного рецепта! :)
    img(src="./images/reversed-spoon.webp", alt="" aria-hidden="true").show-for-sm.terms__spoon
    article.scroll
      h2.scroll__title Требования
        br
        |к рецепту
      p.scroll__rule 1. Он должен быть веганским
      p.scroll__rule 2. Он должен быть в тематике Хэллоуин (см. <a href="/past-competition.html">работы прошлого года</a>)
      img(src="./images/rotated-spoon.webp", alt="" aria-hidden="true").scroll__spoon.hide-for-sm
    a(href="https://forms.gle/P1RXyy6C5MNVEV7a6" target="_blank").button.terms__button Прислать рецепт

