section.terms
  .wrapper
    header.terms__header
      h2.terms__title Условия участия
      p.terms__desc  Приём работ закрыт. Ждём вас в&nbsp;октябре 2023&nbsp;года с&nbsp;новыми рецептами!
    img(src="./images/reversed-spoon.webp", alt="" aria-hidden="true").show-for-sm.terms__spoon
    article.scroll
      h2.scroll__title Требования
        br
        |к рецепту
      p.scroll__rule 1. Он должен быть веганским
      p.scroll__rule 2. Он должен быть в тематике Хэллоуин (см. <a href="/past-competition.html">работы прошлого года</a>)
      img(src="./images/rotated-spoon.webp", alt="" aria-hidden="true").scroll__spoon.hide-for-sm
    a(href="" target="_blank").button.terms__button Прислать рецепт

