@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&family=Merriweather:wght@400;700&display=swap");
@font-face {
    font-family: "WonderNight";
    src: url("../fonts/WonderNight.woff2") format("woff2"),
        url("../fonts/WonderNight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import "./utils/index";
@import "./blocks/**/*.scss";
@import "./sections/**/*.scss";
